.map__pan__control {
  border-left: 4px solid rgba(112, 255, 255, 0.9);
  border-top: 4px solid rgba(112, 255, 255, 0.9);
  cursor: pointer;
  height: 40px;
  opacity: 0.1;
  position: absolute;
  transition: opacity 250ms ease-out;
  width: 40px;
  z-index: 10;
}

.map__pan__control--topLeft {
  left: 10px;
  top: 10px;
}

.map__pan__control--top {
  top: 19px;
  left: calc(50% - 20px);
  transform: rotate(45deg);
}

.map__pan__control--topRight {
  left: calc(100% - 50px);
  top: 10px;
  transform: rotate(90deg);
}

.map__pan__control--right {
  top: calc(50% - 20px);
  left: calc(100% - 58px);
  transform: rotate(135deg);
}

.map__pan__control--bottomRight {
  bottom: 10px;
  left: calc(100% - 50px);
  transform: rotate(180deg);
}

.map__pan__control--bottom {
  bottom: 19px;
  left: calc(50% - 20px);
  transform: rotate(225deg);
}

.map__pan__control--bottomLeft {
  bottom: 10px;
  left: 10px;
  transform: rotate(-90deg);
}

.map__pan__control--left {
  left: 19px;
  top: calc(50% - 20px);
  transform: rotate(-45deg);
}

.map__pan__control:hover {
  opacity: 1;
}
