.menu {
  grid-area: menu;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.menu__content {
  height: 100%;
}

.menu__controls {
  margin-top: 50px;
}

.info__item {
  font-size: 30px;
}

.info__label {
  padding-left: 8px;
}

.menu > .control {
  width: 100%;
}
